#resmain{
    /* width:75%; */
    /* left:25%; */
    /* margin-left:25%; */
    /* margin-top:18vh; */
    border:black solid 2px;
    
}


#topLvlButtsCont{
    /* background-color: aqua; */
    margin-top:2vh;
    margin-bottom:3vh;
    /* margin-left:25vh; */
    /* margin-right:25vh; */
}

#testLvlButtsCont{
    background-color: green;
    /* margin-top:5vh; */
    margin-bottom: 5vh;
    /* margin-left:25vh; */
    /* margin-right:25vh; */

}

.tableHolder{
    /* margin-left:8vh;. */
    border:black solid 2px;
    margin-bottom:4vh;
}

#getReservationByIdRow{
    margin-top:3vh;
}

.off{
    display:none;
}

.editButt{
    color:white;
    background-color: lightblue;
}



.editResCol{
    width:50%;
}

#editReservationPositive{
    width:50%;
    padding:10px;
    border-radius: 20px;
}